*{ margin:0; padding:0;}
html,body{
            height: 100%;
        }
        .swipe {
            overflow: hidden;
            visibility: hidden;
            position: relative;
            height: 100%;
        }
        .swipe-wrap {
            overflow: hidden;
            position: relative;
        }
        .swipe-wrap > div {
            float:left;
            width:100%;
            position: relative;
        }



 .bottomArrow{ position:absolute; width: 100%; text-align:center; bottom:0px; z-index: 11; /* margin-left: 42%; */}
 .bottomArrow img{ width:40px; /* margin-left: 45%; */}
 @-webkit-keyframes bottomArrow {
  0% {
    transform:translate(0,-5px);
	-webkit-transform: translate(0,-5px);		 
  }
   50% {
 
   	transform:translate(0,10px) ;
	-webkit-transform: translate(0,10px);
	opacity:0.4;
   }
   100% {
    transform:translate(0,-5px);
	-webkit-transform: translate(0,-5px);		 
   }
}
.ArrowAni{-webkit-animation:bottomArrow 1s linear infinite; animation:bottomArrow 1s linear infinite;}

/*rabbit*/
 body{background-color: #fff;}
        .rabbit{
            width: 309px;
            height: 364px;
			transform:scale(0.5);
			z-index:111;
            -webkit-transform: scale(0.5);
            position: fixed;
            bottom: -70px;
            background: url(http://img.to8to.com/wap/weixin/run.png) 0 0 no-repeat;
            -webkit-animation-name: run;/* 动画名称 */
            -webkit-animation-iteration-count: infinite;/* 动画无限播放 */
            -webkit-animation-timing-function: step-start;/* 马上跳到动画每一结束桢的状态 */
            -webkit-animation-duration: 650ms;/* 动画运行的时间 */
        }
        @-webkit-keyframes run{

            0%{  background-position: 0 0; }
            4.2%{  background-position: -309px 0; }
            8.4%{  background-position: -618px 0; }
            12.6%{  background-position: -927px 0; }
            16.8%{ background-position: -1236px 0;  }
            21%{ background-position: -1545px 0;  }
            25.2%{ background-position: -1854px 0;  }
            29.4%{ background-position: -2163px 0;  }
            33.6%{  background-position: -2472px 0; }
            37.8%{  background-position: -2781px 0;  }
            42%{ background-position: -3090px 0;   }
            46.2%{  background-position: -3399px 0;  }
            50.4%{  background-position: -3708px 0;  }
            54.6%{  background-position: -4017px 0;  }
            58.8%{  background-position: -4326px 0;  }
            63%{  background-position: -4635px 0;  }
            67.2%{  background-position: -4944px 0;  }
            71.4%{  background-position: -5253px 0;  }
            75.6%{  background-position: -5562px 0;  }
            79.8%{  background-position: -5871px 0;  }
            84%{  background-position: -6180px 0;  }
            88.2%{  background-position: -6489px 0;  }
            92.4%{  background-position: -6798px 0;  }
            96.6%{  background-position: -7107px 0;  }
            100%{  background-position: 0 0;  }
        }
.cityBg{
    position: absolute;
    width:100%;
    bottom: 80px;
    height: 61px;
    background: url(http://img.to8to.com/wap/weixin/bg.png) 0 0 no-repeat;
    -webkit-animation-name: bgs;/* 动画名称 */
    -webkit-animation-iteration-count: infinite;/* 动画无限播放 */
    -webkit-animation-timing-function: step-start;/* 马上跳到动画每一结束桢的状态 */
    -webkit-animation-duration:3500ms;/* 动画运行的时间 */
}
@-webkit-keyframes bgs{

    0%{  background-position: 0 0; }
    4.2%{  background-position: -309px 0; }
    8.4%{  background-position: -618px 0; }
    12.6%{  background-position: -927px 0; }
    16.8%{ background-position: -1236px 0;  }
    21%{ background-position: -1545px 0;  }
    25.2%{ background-position: -1854px 0;  }
    29.4%{ background-position: -2163px 0;  }
    33.6%{  background-position: -2472px 0; }
    37.8%{  background-position: -2781px 0;  }
    42%{ background-position: -3090px 0;   }
    46.2%{  background-position: -3399px 0;  }
    50.4%{  background-position: -3708px 0;  }
    54.6%{  background-position: -4017px 0;  }
    58.8%{  background-position: -4326px 0;  }
    63%{  background-position: -4635px 0;  }
    67.2%{  background-position: -4944px 0;  }
    71.4%{  background-position: -5253px 0;  }
    75.6%{  background-position: -5562px 0;  }
    79.8%{  background-position: -5871px 0;  }
    84%{  background-position: -6180px 0;  }
    88.2%{  background-position: -6489px 0;  }
    92.4%{  background-position: -6798px 0;  }
    96.6%{  background-position: -7107px 0;  }
    100%{  background-position: 0 0;  }
}
.muisc_btn{
    position: fixed;
    right: 10px;
    top: 10px;
    background: url('http://img.to8to.com/wap/weixin/sound.png?20141217') -1px -5px no-repeat;
    width: 30px;
    height: 28px;
    z-index: 1000000;
    background-size: 111%;
}

.music_stop{
    background-position: -1px -33px !important;
}
.tuziindex img{ width: 200px; float: right;}

@media all and (max-height:372px){
   /* @-webkit-keyframes houseTranslate {
        0% {
            transform:translate(-180px,20px) rotate(0deg);
            -webkit-transform: translate(-180px, 20px) rotate(0deg);
        }
        50% {
            transform:translate(105px, -25px) rotate(14deg);
            -webkit-transform: translate(105px, -25px)  rotate(14deg);
        }
        100% {
            transform:translate(390px,10px)  rotate(28deg);
            -webkit-transform: translate(390px,10px)  rotate(28deg);

        }
    }
    .houseTranslate{-webkit-animation:5s houseTranslate linear infinite; animation:5s  houseTranslate linear infinite;}*/
    .tuziindex img{
        width: 180px; float: right;
    }
    /*pageTwo*/
    .pageTwo-top-text {
        /* height: 50px; */
        margin-top: 10px;
        margin-bottom:3px;
        width:80%;
    }
    .city-circle {
        -webkit-transform:scale(0.8);
        margin-top: 5px;
    }  /*pageTwo end*/

    .p3-text {
        padding-top: 16px;
    }
    .p5-circle{-webkit-transform:scale(0.9)}
    .p5-text-top{ margin: 16px auto}
    .p4-text-top{ margin-top: 16px; margin-bottom: 26px}
    .p6-text-top{ margin-top: 16px; margin-bottom: 8px;}
    .p6-circle{-webkit-transform:scale(0.9)}
    .p7-circle{ margin-top:30px}
    .p7-text-top{ margin-top: 16px;}
    .p9-text-top{ margin-top: 16px}
    .p8-circle img:nth-of-type(1) {
        position: absolute;
        top: 200px;
        left: 50%;
        margin-top: -128px;
        margin-left: -155px;
        width: 280px;
        display: -webkit-box;
        text-align: center;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }
    .p11-text-top{
        margin-top: 16px;
        margin-bottom: 20px;
    }
}
/*iphone4*/
@media all and (max-height:460px){
    .tuziindex img{
        width: 180px; float: right;
    }
    tipHi{width: 143px;}
    /*pageTwo*/
    .pageTwo-top-text {
        /* height: 50px; */
         margin-top: 10px;
        margin-bottom:3px;
        width:80%;
     }
    @-webkit-keyframes houseTranslate {
        0% {
            transform:translate(-180px,20px) rotate(0deg);
            -webkit-transform: translate(-180px, 20px) rotate(0deg);
        }
        50% {
            transform:translate(105px, -25px) rotate(14deg);
            -webkit-transform: translate(105px, -25px)  rotate(14deg);
        }
        100% {
            transform:translate(390px,10px)  rotate(28deg);
            -webkit-transform: translate(390px,10px)  rotate(28deg);

        }
    }
    .houseTranslate{-webkit-animation:5s houseTranslate linear infinite; animation:5s  houseTranslate linear infinite;}

    .city-circle {
             -webkit-transform:scale(0.8);
             margin-top: 5px;
        }  /*pageTwo end*/

        .p3-text {
            padding-top: 16px;
         }
        .p5-circle{-webkit-transform:scale(0.9)}
        .p5-text-top{ margin: 16px auto}
        .p4-text-top{ margin-top: 16px; margin-bottom: 26px}
        .p6-text-top{ margin-top: 16px; margin-bottom: 8px;}
        .p6-circle{-webkit-transform:scale(0.9)}
        .p7-circle{ margin-top:30px}
        .p7-text-top{ margin-top: 16px;}
        .p9-text-top{ margin-top: 16px}
        .p8-circle img:nth-of-type(1) {
            position: absolute;
            top: 200px;
            left: 50%;
            margin-top: -128px;
            margin-left: -155px;
            width: 280px;
            display: -webkit-box;
            text-align: center;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }
        .p11-text-top{
            margin-top: 16px;
            margin-bottom: 20px;
        }
}

@media screen and (min-height:550px) and (max-height:620px){
    .city-circle,.p4-circle,.p5-circle,.p7-circle,.p9 img{ margin-top: 25%}
    .rabbit{ -webkit-transform:scale(0.65); margin-left: 50px; bottom:-30px}
    .p4-circle,.p5-circle,.city-circle{-webkit-transform:scale(1.15)}
    .p6-circle{ margin-top: 20%;-webkit-transform:scale(1.1)}
    .p7-circle{ margin-top: 28%;-webkit-transform:scale(1.1)}
    .p8-circle{margin-top: 38%;}
    .p8-circle img:nth-of-type(1) {
        position: absolute;
        top: 300px!important;
        left: 50%!important;
        margin-top: -128px!important;
        margin-left: -155px!important;
        width: 280px!important;
        display: -webkit-box!important;
        text-align: center!important;
        -webkit-box-orient: horizontal!important;
        -webkit-box-pack: center!important;
        -webkit-box-align: center!important;
    }
    .p10-cloud{ margin-top: 20%}
    .p11-img-bottom img{width: 260px;}
    .p11-scan{margin-bottom: 10px}
    .tuziindex img {
        width: 260px;
        float: right;
    }

    .p10-car div {
        position: relative;
        width: 200px;
        margin: 0 auto;
        text-align: center;
        height: 81px;
        position: relative;
        margin-bottom: 0px;
    }
    .tipHi{width:143px}

    @-webkit-keyframes houseTranslate {
        0% {
            transform:translate(-180px,40px) rotate(0deg);
            -webkit-transform: translate(-180px,40px) rotate(0deg);
        }
        50% {
            transform:translate(105px, -25px) rotate(14deg);
            -webkit-transform: translate(105px, -25px)  rotate(14deg);
        }
        100% {
            transform:translate(390px,10px)  rotate(28deg);
            -webkit-transform: translate(390px,10px)  rotate(28deg);

        }
    }
    .houseTranslate{-webkit-animation:5s houseTranslate linear infinite; animation:5s  houseTranslate linear infinite;}

}
@media screen and (min-height:621px) and (max-height:760px){
    .tipHi{width:143px}

    .p10-car div {
        position: relative;
        width: 200px;
        margin: 0 auto;
        text-align: center;
        height: 81px;
        position: relative;
        margin-bottom: 10px;
    }

    @-webkit-keyframes houseTranslate {
        0% {
            transform:translate(-180px,0px) rotate(0deg);
            -webkit-transform: translate(-180px, 0px) rotate(0deg);
        }
        50% {
            transform:translate(105px, -30px) rotate(14deg);
            -webkit-transform: translate(105px, -30px)  rotate(14deg);
        }
        100% {
            transform:translate(390px,0px)  rotate(28deg);
            -webkit-transform: translate(390px,0px)  rotate(28deg);

        }
    }
    .houseTranslate{-webkit-animation:5s houseTranslate linear infinite; animation:5s  houseTranslate linear infinite;}
    .city-circle,.p4-circle,.p5-circle,.p7-circle,.p9 img{ margin-top: 32%}
    .rabbit{ -webkit-transform:scale(0.65); margin-left: 50px; bottom:-30px}
    .p4-circle,.p5-circle,.city-circle{-webkit-transform:scale(1.15)}
    .p6-circle{ margin-top: 26%;-webkit-transform:scale(1.1)}
    .p7-circle{ margin-top: 32%;-webkit-transform:scale(1.1)}
    .p8-circle{margin-top: 44%;}
    .p8-circle img:nth-of-type(1) {
        position: absolute;
        top: 300px!important;
        left: 50%!important;
        margin-top: -128px!important;
        margin-left: -155px!important;
        width: 280px!important;
        display: -webkit-box!important;
        text-align: center!important;
        -webkit-box-orient: horizontal!important;
        -webkit-box-pack: center!important;
        -webkit-box-align: center!important;
    }
    .p10-cloud{ margin-top: 20%}
    .p11-img-bottom img{width: 260px;}
    .p11-scan{ margin-bottom: 10px}
    .tuziindex img {
        width: 260px;
        float: right;
    }

    .p10-car div {
        position: relative;
        width: 200px;
        margin: 0 auto;
        text-align: center;
        height: 81px;
        position: relative;
        margin-bottom: 0px;
    }
}

.indexBotBg{position: absolute;bottom:-4px;width: 100%; z-index: 5}
.indexBotBg img{width: 100%;}
.tuziindex{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    z-index: 75;
}


