*{ margin:0; padding:0;}
html,body{ background-color: #fff; height: 100%;}
.swipe {overflow: hidden; visibility: hidden;position: relative;height: 100%;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div { float:left;width:100%;position: relative;}
.bottomArrow{ position:absolute; width: 100%; text-align:center; bottom:1%; z-index: 11; }
.bottomArrow img{ width: 20px;height: 19px;}
.ArrowAni{-webkit-animation:bottomArrow 1s linear infinite; animation:bottomArrow 1s linear infinite;}
 @-webkit-keyframes bottomArrow {
  0% {
    transform:translate(0,-5px);
	-webkit-transform: translate(0,-5px);		 
  }
   50% {
 
   	transform:translate(0,10px) ;
	-webkit-transform: translate(0,10px);
	opacity:0.4;
   }
   100% {
    transform:translate(0,-5px);
	-webkit-transform: translate(0,-5px);		 
   }
}
/*muisc_btn*/
.muisc_btn {
position: fixed;
right: 0px;
top: 10px;
background: url(images/sound.png) 0 0  no-repeat;
width: 36px;
height: 26px;
z-index: 1000000;
background-size: 26px 61px;
}
.music_stop {
background-position: 0px -30px;
}
/*muisc_btn*/
#pageNinet{display: -moz-box;display: -webkit-box;-webkit-box-align: center;width: 100%;}
.eighteen_box{ position: relative;}
 .finger{
            width: 235px;
            height: 268px;
			transform:scale(0.5);
			z-index:111;
            -webkit-transform: scale(0.5);
            position: fixed;
			left: 50%;
			top: 146px;
			margin-left: -25%;
            background: url(images/hand.png) 0 0 no-repeat;
            -webkit-animation-name: moveFinger;
            -webkit-animation-iteration-count: infinite;/* 动画无限播放 */
            -webkit-animation-timing-function: step-start;/* 马上跳到动画每一结束桢的状态 */
            -webkit-animation-duration: 650ms;/* 动画运行的时间 */
        }
        @-webkit-keyframes moveFinger{

            50%{  background-position: 0 0;  }
            100%{  background-position: -240px 0;  }
        }

