*{ margin:0; padding:0;}
html,body{ background-color: #fff; height: 100%;}
.swipe {overflow: hidden; visibility: hidden;position: relative;height: 100%;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap > div { float:left;width:100%;position: relative;}
.bottomArrow{ position:absolute; width: 100%; text-align:center; bottom:1%; z-index: 11; }
.bottomArrow img{ width: 20px;height: 19px;}
.ArrowAni{-webkit-animation:bottomArrow 1s linear infinite; animation:bottomArrow 1s linear infinite;}
 @-webkit-keyframes bottomArrow {
  0% {
    transform:translate(0,-5px);
	-webkit-transform: translate(0,-5px);		 
  }
   50% {
 
   	transform:translate(0,10px) ;
	-webkit-transform: translate(0,10px);
	opacity:0.4;
   }
   100% {
    transform:translate(0,-5px);
	-webkit-transform: translate(0,-5px);		 
   }
}


        

